@inherits LayoutComponentBase

<script>
    window.focusElement = function (element) {
        if (element) {
            element.focus();
        }
    };
</script>

@Body

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
